@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Raleway:ital,wght@0,200;1,900&display=swap");

body {
  margin: 0;
  font-family: "Carter One", "cursive";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: "rgba(0, 0, 0, 0.7)";
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 20px;
}
